@tailwind base;
@tailwind components;
@tailwind utilities;

.Container {
    @apply md:max-w-[1200px] md:mx-auto px-5 w-full;
}


@font-face {
    font-family: "iranYekan";
    src: url("assets/iranYekan.ttf");
}
@font-face {
    font-family: "iranSans";
    src: url("assets/iranSans.ttf");
}

/*custom scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
    margin-right: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #eee;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}
